body {
  background-image: url("mafia-background-3.jpg");
  background-size: cover;
  color: white;
  font-family: "PT Mono", monospace;
}

#header {
  font-size: 20em;
  font-family: "Special Elite", cursive;
}

#room-form {
  margin-top: 60px;
  width: 40%;
}

.OT_widget-container {
  border-radius: 50%;
  display: flex;
}

.streams {
  display: flex;
}

.OT_subscriber {
  float: left;
  margin-left: 1em;
}

.OT_publisher {
  float: left;
}

.votedTable {
  color: white;
}

.players {
  font-size: 1em;
}

.role {
  text-align: center;
}
