body {
  background-image: url("mafia-background-3.jpg");
  background-size: cover;
  color: white;
  font-family: "PT Mono", monospace;
}

#header {
  font-size: 20em;
  font-family: "Special Elite", cursive;
}

#room-form {
  margin-top: 60px;
  width: 40%;
}

.OT_widget-container {
  border-radius: 50%;
  display: flex;
}

.streams {
  display: flex;
}

.OT_subscriber {
  float: left;
  margin-left: 1em;
}

.OT_publisher {
  float: left;
}

.votedTable {
  color: white;
}

.players {
  font-size: 1em;
}

.role {
  text-align: center;
}

#rules {
  color: black;
}

button {
  margin-top: 1em;
}

#top-row {
  display: flex;
  align-items: flex-start;
  margin-top: 1em;
}

label#create-room {
  font-size: 1.2em;
}
label#front-page {
  font-size: 0.8em;
}

select {
  color: black;
}

#owl {
  height: 14%;
  width: 14%;
  border-radius: 50%;
}

#roomTitle {
  margin: 0.1em;
  font-size: 1.2em;
}

.rooms {
  border: white;
  border-width: 0.2em;
  border-style: solid;
  padding: 1em;
  margin: 0.2em;
  display: flex;
  flex-direction: column;
}

#sidebar {
  margin-top: 1em;
}

div.roomName {
  font-size: 2em;
  flex-shrink: 2;
}
